@model int

<div class="row">
    <div class="col-6">
        <a asp-action="Edit" type="submit" class="btn btn-info form-control" value="Edit" asp-route-Id="@Model">Edit</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back to the list</a>
    </div>
</div>